@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0 auto;
  font-size: 24px;
  background-color: #ffffff;
  color: #000000;
  font-family: -apple-system, "Roboto", "Microsoft JhengHei", sans-serif;
  line-height: 42px;
  font-weight: bold;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  line-height: 94px;
}

h2 {
  font-size: 64px;
  line-height: 75px;
  font-weight: 800;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-primary {
  background-color: #707070;
}

.text-primary {
  color: #707070;
}

.bg-secondary {
  background-color: #891818;
}

.text-secondary {
  color: #891818;
}

.bg-dark {
  background-color: #000000;
}

.text-dark {
  color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-direction--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content--between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mx-auto {
  margin: 0 auto;
}

.font-italic {
  font-style: italic;
}

.text-mark {
  position: relative;
}

.text-mark::before {
  position: absolute;
  content: "";
  top: 3px;
  left: -38px;
  width: 22px;
  height: 22px;
  border-radius: 50px;
  background-color: #891818;
}

.custom__bg {
  background-image: url("../img/photo-1561291386-5be50364cfb5.png");
  background-position: bottom;
  background-size: auto 1600px;
  background-repeat: no-repeat;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons__item + .icons__item {
  margin-left: 16px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 960px;
  padding-top: 384px;
  padding-bottom: 256px;
  background-image: url("../img/photo-1552393700-42696fb89bfa.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__title {
  margin-bottom: 27px;
  position: relative;
}

.header__title::before {
  position: absolute;
  content: "Here’s";
  top: -35px;
  left: 8px;
  font-size: 24px;
  line-height: 42px;
}

.header__text {
  margin-bottom: 63px;
}

.section {
  padding-top: 64px;
  padding-bottom: 160px;
}

.section__about {
  padding-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__about .inner__title {
  margin-bottom: 40px;
}

.section__about .inner__text {
  position: relative;
  margin-bottom: 66px;
}

.section__about .inner__text::after {
  position: absolute;
  content: "";
  bottom: -32px;
  left: 20px;
  width: 384px;
  height: 1px;
  background: black;
}

.section__about .inner__list__item + .inner__list__item {
  margin-top: 32px;
}

.section__about .inner__img {
  margin-bottom: 21px;
}

.section__myBrand {
  background-color: black;
}

.section__myBrand .inner__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.section__myBrand .inner__title__secondary {
  margin-bottom: 31px;
}

.section__myBrand .inner__text {
  margin-bottom: 48px;
}

.section__myBrand .inner__img:first-child {
  margin-bottom: 40px;
}

.section__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__works .inner__title {
  margin-bottom: 23px;
}

.section__works .inner__text {
  margin-bottom: 48px;
}

.section__works .inner__img {
  margin-bottom: 18px;
}

.section__works .inner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.section__works .inner__list + .inner__list {
  margin-top: 58px;
}

.section__works .inner__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding: 56px 0 80px 0;
}

.footer__title {
  margin-bottom: 16px;
}

.footer__text {
  margin-bottom: 16px;
}
/*# sourceMappingURL=all.css.map */