// 通用類
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@each $color, $value in ($color) {
  .bg-#{$color} {
    background-color: $value;
  }
  .text-#{$color} {
    color: $value;
  }
}
.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction--column {
  flex-direction: column;
}
.justify-content--between {
  justify-content: space-between;
}
.justify-content--center {
  justify-content: center;
}
.align-items--center {
  align-items: center;
}
.mx-auto {
  margin: 0 auto;
}
.font-italic {
  font-style: italic;
}
.text-mark {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: -38px;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background-color: map-get($color, secondary);
  }
}

.custom {
  &__bg {
    background-image: url("../img/photo-1561291386-5be50364cfb5.png");
    background-position: bottom;
    background-size: auto 1600px;
    background-repeat: no-repeat;
  }
}

.icons {
  display: flex;
  &__item {
    + .icons__item {
      margin-left: 16px;
    }
  }
}


.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 960px;
  padding-top:384px ;
  padding-bottom: 256px;
  background-image: url("../img/photo-1552393700-42696fb89bfa.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__title {
    margin-bottom: 27px;
    position: relative;
    &::before {
      position: absolute;
      content: "Here’s";
      top: -35px;
      left: 8px;
      font-size: 24px;
      line-height: 42px;
    }
  }
  &__text {
    margin-bottom: 63px;
  }
}

.section {
  padding-top: 64px;
  padding-bottom: 160px;
  &__about {
    padding-bottom: 56px;
    .inner {
      &__title {
        margin-bottom: 40px;
      }
      &__text {
        position: relative;
        margin-bottom: 66px;
        // TODO:會跑版
        &::after {
          position: absolute;
          content: "";
          bottom: -32px;
          left: 36%;
          width: 384px;
          height: 1px;
          background: black;
        }
      }
      &__list {
        &__item {
          + .inner__list__item {
            margin-top: 32px;
          }
        }
      }
      &__img {
        margin-bottom: 21px;
      }
    }
  }
  &__myBrand {
    background-color: black;
    .inner {
      &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
        &__secondary {
          margin-bottom: 31px;
        }
      }
      &__text {
        margin-bottom: 48px;
      }
      &__img {
        &:first-child {
          margin-bottom: 40px;
        }
      }
    }
  }
  &__works {
    display: flex;
    flex-direction: column;
    align-items: center;
    .inner {
      &__title {
        margin-bottom: 23px;
      }
      &__text {
        margin-bottom: 48px;
      }
      &__img {
        margin-bottom: 18px;
      }
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: white;
        + .inner__list {
          margin-top: 58px;
        }
        &__item {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}


.footer{
  padding: 56px 0 80px 0;
  &__title {
    margin-bottom: 16px;
  }
  &__text {
    margin-bottom: 16px;
  }
}



