// 通用類
.container {
  width: 1200px;
  margin: 0 auto;
}
@each $color, $value in ($color) {
  .bg-#{$color} {
    background-color: $value;
  }
  .text-#{$color} {
    color: $value;
  }
}
.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction--column {
  flex-direction: column;
}
.justify-content--center {
  justify-content: center;
}
.align-items--center {
  align-items: center;
}
.mx-auto {
  margin: 0 auto;
}
.font-italic {
  font-style: italic;
}
.text-mark {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: -38px;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background-color: map-get($color, secondary);
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 374px 817px 256px 806px;
  background-image: url("../img/photo-1552393700-42696fb89bfa.png");
  background-size: contain;
  background-repeat: no-repeat;
  &__title {
    margin-bottom: 27px;
    position: relative;
    &::before {
      position: absolute;
      content: "Here’s";
      top: -35px;
      left: 8px;
      font-size: 24px;
      line-height: 42px;
    }
  }
  &__text {
    margin-bottom: 63px;
  }
}

.content {
  &__item {
    padding-top: 64px;
    padding-bottom: 160px;
  }
  &__About {
    padding-bottom: 56px;
    .content {
      &__item {
        &__title {
          margin-bottom: 40px;
        }
        &__img {
          margin-bottom: 21px;
        }
        &__text {
          position: relative;
          margin-bottom: 66px;
          &::after {
            position: absolute;
            content: "";
            bottom: -32px;
            left: 40%;
            width: 384px;
            height: 1px;
            background: black;
          }
        }
        &__list{
          &__item {
             + .content__item__list__item{
              margin-top: 32px;
            }
          }
        }
      }
    }
  }
  &__MyBrand {
    background-color: black;
    .content {
      &__item {
        &__title {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 12px;
          &__secondary {
            margin-bottom: 31px;
          }
        }
        &__text {
          margin-bottom: 48px;
        }
        &__img {
          width: 588px;
          &:first-child {
            width: 788px;
            margin-bottom: 40px;
          }
          &:last-child {
            margin-left: 24px;
          }
        }
      }
    }
  }
  &__Works {
    display: flex;
    flex-direction: column;
    align-items: center;
    .content {
      &__item {
        &__title {
          margin-bottom: 23px;
        }
        &__text {
          margin-bottom: 48px;
        }
      }
    }
    &__workGroup {
      display: flex;
      flex-wrap: wrap;
      color: white;
      + .content__Works__workGroup {
        margin-top: 58px;
      }
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        + .content__Works__workGroup__item {
          margin-left: 24px;
        }
        .content__item__img {
          margin-bottom: 18px;
        }
      }
    }
  }
}

.footer {
  padding: 56px 0 80px 0;
  &__title {
    margin-bottom: 16px;
  }
  &__text {
    margin-bottom: 16px;
  }
}

.custom {
  &__bg {
    background-image: url("../img/photo-1561291386-5be50364cfb5.png");
    background-position: bottom;
    background-size: auto 1600px;
    // background-size: contain;
    background-repeat: no-repeat;
  }
}

.icons {
  display: flex;
  &__item {
    + .icons__item {
      margin-left: 16px;
    }
  }
}
