

$color: (
  primary:  #707070,
  secondary:#891818,
  dark:     #000000,
  white:    #ffffff
);

$body__width: 100%;
$body__font-size:24px;
$body__line-height: 42px;
$body__font-family:-apple-system,"Roboto", 'Microsoft JhengHei', sans-serif ;
$body__color:#000000;
$body__background-color:#ffffff;


